/* styles for vandam.ca */
html, body {
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
}
#parchment {
    position: relative;
    background-image:url("images/Parchment.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-color:black;
    max-height: 100vh;
    height: 100%;
}
#map {
    position: absolute;
    background-color: rgba(0,0,0,0);
    /* padding: 2vh; */
    top: 6%;
    left: 24%;
    width: 50%;
    height: 83%;
}
#right {
    background-color: rgba(0,0,0,1);
    position: absolute;
    top: 39%;
    left: 79%;
    width: 12%;
    height: 35%;
    rotate: 15deg;
}
#left {
    background-color: yellow;
    position: absolute;
    top: 35%;
    left: 8%;
    width: 10%;
    height: 25%;
    rotate: -22deg;
}