/* styles for vandam.ca */
html, body {
    margin: 0;
    padding: 0;
}
main {
    background-image:url("images/Parchment_blank.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-color:black;
    height: 100vh;
}
#map {
    position: relative;
    background-color: rgba(0,0,0,0);
    /* padding: 2vh; */
    top: 15vh;
    left: 25w;
    width: 50vw;
    height: 65vh;
}