/* styles for vandam.ca */
html, body {
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#parchment {
    position: relative;
    /* background-image:url("images/Parchment.png"); */
    /* background-repeat: no-repeat; */
    /* background-size:contain; */
    /* background-position: center; */
    background-color:black;
    height: auto;
    width: auto;
    /* min-height: 250px; */
    /* min-width: 250px; */
    display: inline-block;
}
#map {
    position: absolute;
    background-color: rgba(0,0,0,0);
    /* padding: 2vh; */
    top: 6%;
    left: 22.5%;
    width: 55%;
    height: 82%;
}
#right {
    background-color: rgba(0,0,0,1);
    position: absolute;
    top: 39%;
    left: 82%;
    width: 13%;
    height: 35%;
    rotate: 13deg;
}
#left {
    background-color: yellow;
    position: absolute;
    top: 31%;
    left: 0.5%;
    width: 12%;
    height: 25%;
    rotate: -22deg;
}